
.footer--section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer--article__socialMedia > ul > li {
    margin-top: 5px;
}

.footer--article__navigation > ul > li {
    margin-top: 1px
}