.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
  }



  .navigation a {
    color: black;
    font-weight: 600;
  }
  .navigation a:hover{
    color: red;
  }
  .nav {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin-left: 6rem;
    margin-right: 6rem;
  }

  @media(max-width:750px){
    .navigation {
        display: flex;
        flex-wrap: wrap;
    }
  }